In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#Reading the file
pyMoli_datafile = "purchase_data2.json"

In [3]:
pyMoli_datafile_pd = pd.read_json(pyMoli_datafile)
pyMoli_datafile_pd.head()

   Age Gender  Item ID                 Item Name  Price          SN
0   20   Male       93  Apocalyptic Battlescythe   4.49     Iloni35
1   21   Male       12                     Dawne   3.36   Aidaira26
2   17   Male        5                Putrid Fan   2.63      Irim47
3   17   Male      123         Twilight's Carver   2.55     Irith83
4   22   Male      154              Feral Katana   4.11  Philodil43

In [4]:
#Count of total Player
Total_players = pyMoli_datafile_pd["SN"].nunique()
print("Total Players: "+str(pyMoli_datafile_pd["SN"].nunique()))

Total Players: 74

In [5]:
df_total_players = pd.DataFrame({"Players Count":[Total_players]})
df_total_players

   Players Count
0             74

In [6]:
#Calculations for purchase Analysis
unique_items_count = pyMoli_datafile_pd["Item ID"].nunique()
print("Number of unique items: "+str(pyMoli_datafile_pd["Item ID"].nunique()))

Number of unique items: 64

In [7]:
average_purhasePrice = round(pyMoli_datafile_pd["Price"].mean(), 2)
print("The average price of an item: $" + str(average_purhasePrice))

The average price of an item: $2.92

In [8]:
itemsPurchased_count = pyMoli_datafile_pd["Gender"].value_counts()
itemsPurchased_count

Male                     64
Female                   13
Other / Non-Disclosed     1
Name: Gender, dtype: int64

In [9]:
itemsPurchased_count_pd = pd.DataFrame(itemsPurchased_count)

In [10]:
totalItemsPurchased = itemsPurchased_count_pd["Gender"].sum()
print("The total items purchase are: " +str(totalItemsPurchased))

The total items purchase are: 78

In [11]:
totalRevenue = round(pyMoli_datafile_pd["Price"].sum(), 2)
print("The total revenue: $" + str(totalRevenue))

The total revenue: $228.1

In [12]:
#final Purchase anlysis
df_purchasingAnalysis = pd.DataFrame({"Number of unique items":[unique_items_count], "Average PurchasingPrice":[average_purhasePrice], "The total items purchased":[totalItemsPurchased], "The total Revennue":[totalRevenue]})
df_purchasingAnalysis

,Average PurchasingPrice,Number of unique items,The total Revennue,The total items purchased
0,2.92,64,228.1,78

In [13]:
#Gender Analysis: Male
malePlayer_df = pyMoli_datafile_pd.loc[pyMoli_datafile_pd["Gender"]=="Male"]

In [14]:
totalMale_players = malePlayer_df["SN"].nunique()
totalMale_players

60

In [15]:
#Gender analysis female
femalePlayer_df = pyMoli_datafile_pd.loc[pyMoli_datafile_pd["Gender"]=="Female"]

In [16]:
totalFemale_players = femalePlayer_df["SN"].nunique()
totalFemale_players

13

In [17]:
#Nondisclosed player analysis
nonDisclPlayer_df = pyMoli_datafile_pd.loc[pyMoli_datafile_pd["Gender"]=="Other / Non-Disclosed"]

In [18]:
totalNonDiscl_players =nonDisclPlayer_df["SN"].nunique()

In [19]:
perctMale_players = round((totalMale_players/Total_players)*100, 2)

In [20]:
perctFemale_players = round((totalFemale_players/Total_players)*100, 2)

In [21]:
perctNonDiscl_players = round((totalNonDiscl_players/Total_players)*100, 2)

In [22]:
df_Gender_Demographics = pd.DataFrame({"Gender": ["Male", "Female", "Non Discl"], "Percentage" :[perctMale_players, perctFemale_players, perctNonDiscl_players], "Players Count":[totalMale_players, totalFemale_players, totalNonDiscl_players] })
df_Gender_Demographics

      Gender  Percentage  Players Count
0       Male       81.08             60
1     Female       17.57             13
2  Non Discl        1.35              1

In [23]:
total_malePurchPrice = malePlayer_df["Price"].sum()

In [24]:
avg_malepurchPrice = round(total_malePurchPrice/totalMale_players, 2)

In [25]:
total_femalePurchPrice = round(femalePlayer_df["Price"].sum(), 2)

In [26]:
avg_femalepurchPrice = round(total_femalePurchPrice/totalFemale_players, 2)

In [27]:
total_nonDisclpurchPrice = round(nonDisclPlayer_df["Price"].sum(), 2)

In [28]:
avg_nonDisclpurchPrice = round(total_nonDisclpurchPrice/totalNonDiscl_players, 2)

In [29]:
male_price_max = malePlayer_df["Price"].max()

In [30]:
male_price_min = malePlayer_df["Price"].min()

In [31]:
female_price_max = femalePlayer_df["Price"].max()

In [32]:
female_price_min = femalePlayer_df["Price"].min()

In [33]:
nonDiscl_price_max = nonDisclPlayer_df["Price"].max()

In [34]:
nonDiscl_price_min = nonDisclPlayer_df["Price"].min()

In [35]:
normalized_scale_min = pyMoli_datafile_pd["Price"].apply(np.floor).min()

In [36]:
normalized_scale_max  = pyMoli_datafile_pd["Price"].apply(np.ceil).max()

In [37]:
norm_total_male = round((normalized_scale_min)+(((avg_malepurchPrice-male_price_min)*(normalized_scale_max-normalized_scale_min))/(male_price_max-male_price_min)), 2)

In [38]:
norm_total_female = round((normalized_scale_min)+(((avg_femalepurchPrice-female_price_min)*(normalized_scale_max-normalized_scale_min))/(female_price_max-female_price_min)), 2)

In [39]:
norm_total_nonDiscl = round((normalized_scale_min)+(((avg_nonDisclpurchPrice-nonDiscl_price_min)*(normalized_scale_max-normalized_scale_min))/(nonDiscl_price_max-nonDiscl_price_min)), 2)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in double_scalars
  """Entry point for launching an IPython kernel.

In [40]:
#final Gender analysis
df_PurchasingAnalysis = pd.DataFrame({"Gender":["Male", "Female", "Non Disclosed"], "Purchase Count": [totalMale_players, totalFemale_players, totalNonDiscl_players], "Purchase Price Average":[avg_malepurchPrice, avg_femalepurchPrice, avg_nonDisclpurchPrice], "Total Purchase Price": [total_malePurchPrice, total_femalePurchPrice,total_nonDisclpurchPrice], "Normalized Totals":[norm_total_male ,norm_total_female,norm_total_nonDiscl]})
df_PurchasingAnalysis

,Gender,Normalized Totals,Purchase Count,Purchase Price Average,Total Purchase Price
0,Male,3.14,60,3.08,184.60
1,Female,3.34,13,3.18,41.38
2,Non Disclosed,NaN,1,2.12,2.12

In [41]:
ageAnalysis_pd = pd.read_json(pyMoli_datafile)

In [42]:
ageAnalysis_SN_pd = ageAnalysis_pd.drop_duplicates('SN')

In [43]:
#Sorting all age goups in bins
bins =[0,10,15,20,25,30, 35, 40, 45]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39",">40"]

In [44]:
ageAnalysis_SN_pd["Age_Summary"] = pd.cut(ageAnalysis_SN_pd["Age"], bins, labels = group_names)
ageAnalysis_SN_pd.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,Age,Gender,Item ID,Item Name,Price,SN,Age_Summary
0,20,Male,93,Apocalyptic Battlescythe,4.49,Iloni35,15-19
1,21,Male,12,Dawne,3.36,Aidaira26,20-24
2,17,Male,5,Putrid Fan,2.63,Irim47,15-19
3,17,Male,123,Twilight's Carver,2.55,Irith83,15-19
4,22,Male,154,Feral Katana,4.11,Philodil43,20-24

In [45]:
age_Summary_group = ageAnalysis_SN_pd.groupby("Age_Summary")

In [46]:
tot = age_Summary_group['SN'].count()

In [47]:
percPlayers = round(tot/len(tot), 2)

In [48]:
#Purchase Summary by age group
purchase_summary = pd.DataFrame({"ToTal Count":tot, "Percentage of Players": percPlayers})
purchase_summary

             Percentage of Players  ToTal Count
Age_Summary
<10                           0.62            5
10-14                         0.50            4
15-19                         2.50           20
20-24                         3.75           30
25-29                         0.50            4
30-34                         0.75            6
35-39                         0.62            5
>40                           0.00            0

In [49]:
avgPurChasePrice=round(age_Summary_group["Price"].mean(), 2)

In [50]:
totalPurchasePrice = round(age_Summary_group["Price"].sum(), 2)

In [51]:
purchaseCounts = age_Summary_group["Item ID"].count()

In [52]:
normalized_agescale_min = age_Summary_group["Price"].apply(np.floor).min()

In [53]:
normalized_agescale_max = age_Summary_group["Price"].apply(np.ceil).max()

In [54]:
normTotalsAge = round(normalized_agescale_min +(((avgPurChasePrice-age_Summary_group["Price"].min())*(normalized_agescale_max-normalized_agescale_min))/(age_Summary_group["Price"].max()-age_Summary_group["Price"].min())),1)

In [55]:
#Purchase analysis by age
purchaseAnalysis_Summary = pd.DataFrame({"Purchase Count":purchaseCounts, "Average Purchase Price": avgPurChasePrice, "Total Purchase Price": totalPurchasePrice, "Normalized Totals": normTotalsAge})
purchaseAnalysis_Summary

,Average Purchase Price,Normalized Totals,Purchase Count,Total Purchase Price
Age_Summary,,,,
<10,2.76,2.8,5,13.82
10-14,3.05,3.2,4,12.21
15-19,2.73,2.6,20,54.69
20-24,3.13,3.2,30,94.03
25-29,2.69,3.5,4,10.77
30-34,2.31,2.4,6,13.84
35-39,3.94,3.6,5,19.72
>40,NaN,NaN,0,0.00

In [56]:
topSpenderGroup = ageAnalysis_SN_pd.groupby("SN")

In [57]:
ts_count = topSpenderGroup["Item ID"].count()

In [58]:
ts_average_purchasePrice = round(topSpenderGroup["Price"].mean(), 2)

In [59]:
ts_tot_purchase_value = round(topSpenderGroup["Price"].sum(), 2)

In [74]:
top_spender_summary = pd.DataFrame( {"Purchase Count":ts_count,
                                    "Average Purchase Price":ts_average_purchasePrice,
                                    "Total Purchase Value": ts_tot_purchase_value} )

In [73]:
#sorting to identify top spenders.
sorrted_topspender = top_spender_summary.sort_values(by="Total Purchase Value", ascending = False)

In [62]:
top_fiveSpender_df = sorrted_topspender.iloc[0:5:,[0,1,2,]]
top_fiveSpender_df.head()

               Average Purchase Price  Purchase Count  Total Purchase Value
SN
Eusty71                          4.81               1                  4.81
Chanirra64                       4.78               1                  4.78
Alarap40                         4.71               1                  4.71
Sundaky74                        4.71               1                  4.71
Aerithllora36                    4.65               1                  4.65

In [63]:
mostProfitableitems = ageAnalysis_SN_pd. groupby("Item Name")

In [64]:
mp_count = mostProfitableitems["Item ID"].count()

In [65]:
mp_price = mostProfitableitems["Price"].mean()

In [66]:
mp_purchaseValue = round(mostProfitableitems["Price"].sum(), 2)

In [67]:
mp_itemID = mostProfitableitems["Item ID"].unique()

In [68]:
mostPopularitems_summary = pd.DataFrame({ "Item ID": mp_itemID, "Item Price": mp_price, "Total Purchase Count":mp_count, "Total Purchase Value": mp_purchaseValue})

In [69]:
sorted_mostPopularitem  = mostPopularitems_summary.sort_values(by="Total Purchase Count", ascending = False)

In [70]:
#most popular items after sorting and displaying top five 
mostPopularitems_df = sorted_mostPopularitem.iloc[0:5:,[0,1,2,3]]
mostPopularitems_df.head()

,Item ID,Item Price,Total Purchase Count,Total Purchase Value
Item Name,,,,
Mourning Blade,[94],3.64,3,10.92
Misery's End,[111],1.79,2,3.58
"Deadline, Voice Of Subtlety",[98],1.29,2,2.58
Relentless Iron Skewer,[176],2.12,2,4.24
Apocalyptic Battlescythe,[93],4.49,2,8.98

In [71]:
mostProfitableItems_df = mostPopularitems_summary.sort_values(by="Total Purchase Value", ascending = False)

In [72]:
#most profitable items after displaying top five
mostProfitableitems_df = mostProfitableItems_df.iloc[0:5:,[0,1,2,3]]
mostProfitableitems_df.head()

,Item ID,Item Price,Total Purchase Count,Total Purchase Value
Item Name,,,,
Mourning Blade,[94],3.64,3,10.92
"Heartstriker, Legacy of the Light",[117],4.71,2,9.42
Apocalyptic Battlescythe,[93],4.49,2,8.98
Betrayer,[90],4.12,2,8.24
Feral Katana,[154],4.11,2,8.22