In [74]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [75]:
#Reading the file
pyMoli_datafile = "purchase_data.json"

In [76]:
pyMoli_datafile_pd = pd.read_json(pyMoli_datafile)
pyMoli_datafile_pd.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [77]:
#Count of total Player
Total_players = pyMoli_datafile_pd["SN"].nunique()
print("Total Players: "+str(pyMoli_datafile_pd["SN"].nunique()))

Total Players: 573

In [78]:
df_total_players = pd.DataFrame({"Players Count":[Total_players]})
df_total_players

   Players Count
0            573

In [79]:
#Calculations for purchase Analysis
unique_items_count = pyMoli_datafile_pd["Item ID"].nunique()
print("Number of unique items: "+str(pyMoli_datafile_pd["Item ID"].nunique()))

Number of unique items: 183

In [80]:
average_purhasePrice = round(pyMoli_datafile_pd["Price"].mean(), 2)
print("The average price of an item: $" + str(average_purhasePrice))

The average price of an item: $2.93

In [81]:
itemsPurchased_count = pyMoli_datafile_pd["Gender"].value_counts()
itemsPurchased_count

Male                     633
Female                   136
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [82]:
itemsPurchased_count_pd = pd.DataFrame(itemsPurchased_count)

In [83]:
totalItemsPurchased = itemsPurchased_count_pd["Gender"].sum()
print("The total items purchase are: " +str(totalItemsPurchased))

The total items purchase are: 780

In [84]:
totalRevenue = round(pyMoli_datafile_pd["Price"].sum(), 2)
print("The total revenue: $" + str(totalRevenue))

The total revenue: $2286.33

In [85]:
#final Purchase anlysis
df_purchasingAnalysis = pd.DataFrame({"Number of unique items":[unique_items_count], "Average PurchasingPrice":[average_purhasePrice], "The total items purchased":[totalItemsPurchased], "The total Revennue":[totalRevenue]})
df_purchasingAnalysis

,Average PurchasingPrice,Number of unique items,The total Revennue,The total items purchased
0,2.93,183,2286.33,780

In [86]:
#Gender Analysis: Male
malePlayer_df = pyMoli_datafile_pd.loc[pyMoli_datafile_pd["Gender"]=="Male"]

In [87]:
totalMale_players = malePlayer_df["SN"].nunique()
totalMale_players

465

In [88]:
#Gender analysis female
femalePlayer_df = pyMoli_datafile_pd.loc[pyMoli_datafile_pd["Gender"]=="Female"]

In [89]:
totalFemale_players = femalePlayer_df["SN"].nunique()
totalFemale_players

100

In [90]:
#Nondisclosed player analysis
nonDisclPlayer_df = pyMoli_datafile_pd.loc[pyMoli_datafile_pd["Gender"]=="Other / Non-Disclosed"]

In [91]:
totalNonDiscl_players =nonDisclPlayer_df["SN"].nunique()

In [92]:
perctMale_players = round((totalMale_players/Total_players)*100, 2)

In [93]:
perctFemale_players = round((totalFemale_players/Total_players)*100, 2)

In [94]:
perctNonDiscl_players = round((totalNonDiscl_players/Total_players)*100, 2)

In [95]:
df_Gender_Demographics = pd.DataFrame({"Gender": ["Male", "Female", "Non Discl"], "Percentage" :[perctMale_players, perctFemale_players, perctNonDiscl_players], "Players Count":[totalMale_players, totalFemale_players, totalNonDiscl_players] })
df_Gender_Demographics

      Gender  Percentage  Players Count
0       Male       81.15            465
1     Female       17.45            100
2  Non Discl        1.40              8

In [96]:
total_malePurchPrice = malePlayer_df["Price"].sum()

In [97]:
avg_malepurchPrice = round(total_malePurchPrice/totalMale_players, 2)

In [98]:
total_femalePurchPrice = round(femalePlayer_df["Price"].sum(), 2)

In [99]:
avg_femalepurchPrice = round(total_femalePurchPrice/totalFemale_players, 2)

In [100]:
total_nonDisclpurchPrice = round(nonDisclPlayer_df["Price"].sum(), 2)

In [101]:
avg_nonDisclpurchPrice = round(total_nonDisclpurchPrice/totalNonDiscl_players, 2)

In [102]:
male_price_max = malePlayer_df["Price"].max()

In [103]:
male_price_min = malePlayer_df["Price"].min()

In [104]:
female_price_max = femalePlayer_df["Price"].max()

In [105]:
female_price_min = femalePlayer_df["Price"].min()

In [106]:
nonDiscl_price_max = nonDisclPlayer_df["Price"].max()

In [107]:
nonDiscl_price_min = nonDisclPlayer_df["Price"].min()

In [108]:
normalized_scale_min = pyMoli_datafile_pd["Price"].apply(np.floor).min()

In [109]:
normalized_scale_max  = pyMoli_datafile_pd["Price"].apply(np.ceil).max()

In [110]:
norm_total_male = round((normalized_scale_min)+(((avg_malepurchPrice-male_price_min)*(normalized_scale_max-normalized_scale_min))/(male_price_max-male_price_min)), 2)

In [111]:
norm_total_female = round((normalized_scale_min)+(((avg_femalepurchPrice-female_price_min)*(normalized_scale_max-normalized_scale_min))/(female_price_max-female_price_min)), 2)

In [112]:
norm_total_nonDiscl = round((normalized_scale_min)+(((avg_nonDisclpurchPrice-nonDiscl_price_min)*(normalized_scale_max-normalized_scale_min))/(nonDiscl_price_max-nonDiscl_price_min)), 2)

In [113]:
#final Gender analysis
df_PurchasingAnalysis = pd.DataFrame({"Gender":["Male", "Female", "Non Disclosed"], "Purchase Count": [totalMale_players, totalFemale_players, totalNonDiscl_players], "Purchase Price Average":[avg_malepurchPrice, avg_femalepurchPrice, avg_nonDisclpurchPrice], "Total Purchase Price": [total_malePurchPrice, total_femalePurchPrice,total_nonDisclpurchPrice], "Normalized Totals":[norm_total_male ,norm_total_female,norm_total_nonDiscl]})
df_PurchasingAnalysis

,Gender,Normalized Totals,Purchase Count,Purchase Price Average,Total Purchase Price
0,Male,4.05,465,4.02,1867.68
1,Female,3.86,100,3.83,382.91
2,Non Disclosed,5.25,8,4.47,35.74

In [185]:
ageAnalysis_pd = pd.read_json(pyMoli_datafile)

In [188]:
ageAnalysis_SN_pd = ageAnalysis_pd.drop_duplicates('SN')

In [148]:
#Sorting all age goups in bins
bins =[0,10,15,20,25,30, 35, 40, 45]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39",">40"]

In [150]:
ageAnalysis_SN_pd["Age_Summary"] = pd.cut(ageAnalysis_SN_pd["Age"], bins, labels = group_names)
ageAnalysis_SN_pd.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,Age,Gender,Item ID,Item Name,Price,SN,Age_Summary
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34,35-39
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46,20-24
2,34,Male,174,Primitive Blade,2.46,Assastnya25,30-34
3,21,Male,92,Final Critic,1.36,Pheusrical25,20-24
4,23,Male,63,Stormfury Mace,1.27,Aela59,20-24

In [151]:
age_Summary_group = ageAnalysis_SN_pd.groupby("Age_Summary")

In [192]:
tot = age_Summary_group['SN'].count()

In [191]:
percPlayers = round(tot/len(tot), 2)

In [200]:
#Purchase Summary by age group
purchase_summary = pd.DataFrame({"ToTal Count":tot, "Percentage of Players": percPlayers})
purchase_summary

             Percentage of Players  ToTal Count
Age_Summary
<10                           2.75           22
10-14                         6.75           54
15-19                        17.38          139
20-24                        29.25          234
25-29                         6.50           52
30-34                         5.50           44
35-39                         3.12           25
>40                           0.38            3

In [201]:
avgPurChasePrice=round(age_Summary_group["Price"].mean(), 2)

In [202]:
totalPurchasePrice = round(age_Summary_group["Price"].sum(), 2)

In [203]:
purchaseCounts = age_Summary_group["Item ID"].count()

In [204]:
normalized_agescale_min = age_Summary_group["Price"].apply(np.floor).min()

In [205]:
normalized_agescale_max = age_Summary_group["Price"].apply(np.ceil).max()

In [209]:
normTotalsAge = round(normalized_agescale_min +(((avgPurChasePrice-age_Summary_group["Price"].min())*(normalized_agescale_max-normalized_agescale_min))/(age_Summary_group["Price"].max()-age_Summary_group["Price"].min())),1)

In [210]:
#Purchase analysis by age
purchaseAnalysis_Summary = pd.DataFrame({"Purchase Count":purchaseCounts, "Average Purchase Price": avgPurChasePrice, "Total Purchase Price": totalPurchasePrice, "Normalized Totals": normTotalsAge})
purchaseAnalysis_Summary

,Average Purchase Price,Normalized Totals,Purchase Count,Total Purchase Price
Age_Summary,,,,
<10,3.16,3.1,22,69.50
10-14,2.89,2.8,54,155.94
15-19,2.90,2.9,139,403.12
20-24,2.99,3.0,234,699.12
25-29,2.92,2.9,52,151.65
30-34,3.33,3.2,44,146.48
35-39,2.87,3.1,25,71.64
>40,2.88,2.8,3,8.64

In [211]:
topSpenderGroup = ageAnalysis_SN_pd.groupby("SN")

In [212]:
ts_count = topSpenderGroup["Item ID"].count()

In [213]:
ts_average_purchasePrice = round(topSpenderGroup["Price"].mean(), 2)

In [214]:
ts_tot_purchase_value = round(topSpenderGroup["Price"].sum(), 2)

In [229]:
top_spender_summary = pd.DataFrame( {"Purchase Count":ts_count,
                                    "Average Purchase Price":ts_average_purchasePrice,
                                    "Total Purchase Value": ts_tot_purchase_value} )

In [228]:
#sorting to identify top spenders.
sorrted_topspender = top_spender_summary.sort_values(by="Total Purchase Value", ascending = False)

In [217]:
top_fiveSpender_df = sorrted_topspender.iloc[0:5:,[0,1,2,]]
top_fiveSpender_df.head()

              Average Purchase Price  Purchase Count  Total Purchase Value
SN
Palurrian69                     4.95               1                  4.95
Aeliriam77                      4.95               1                  4.95
Tyarithn67                      4.95               1                  4.95
Qiluard68                       4.95               1                  4.95
Saistyphos30                    4.95               1                  4.95

In [218]:
mostProfitableitems = ageAnalysis_SN_pd. groupby("Item Name")

In [219]:
mp_count = mostProfitableitems["Item ID"].count()

In [220]:
mp_price = mostProfitableitems["Price"].mean()

In [221]:
mp_purchaseValue = round(mostProfitableitems["Price"].sum(), 2)

In [222]:
mp_itemID = mostProfitableitems["Item ID"].unique()

In [223]:
mostPopularitems_summary = pd.DataFrame({ "Item ID": mp_itemID, "Item Price": mp_price, "Total Purchase Count":mp_count, "Total Purchase Value": mp_purchaseValue})

In [224]:
sorted_mostPopularitem  = mostPopularitems_summary.sort_values(by="Total Purchase Count", ascending = False)

In [225]:
#most popular items after sorting and displaying top five 
mostPopularitems_df = sorted_mostPopularitem.iloc[0:5:,[0,1,2,3]]
mostPopularitems_df.head()

,Item ID,Item Price,Total Purchase Count,Total Purchase Value
Item Name,,,,
Arcane Gem,[84],2.23,9,20.07
Woeful Adamantite Claymore,[175],1.24,8,9.92
Serenity,[13],1.49,8,11.92
Bonecarvin Battle Axe,[44],2.46,8,19.68
"Betrayal, Whisper of Grieving Widows",[39],2.35,8,18.80

In [226]:
mostProfitableItems_df = mostPopularitems_summary.sort_values(by="Total Purchase Value", ascending = False)

In [227]:
#most profitable items after displaying top five
mostProfitableitems_df = mostProfitableItems_df.iloc[0:5:,[0,1,2,3]]
mostProfitableitems_df.head()

,Item ID,Item Price,Total Purchase Count,Total Purchase Value
Item Name,,,,
Orenmir,[32],4.95,6,29.70
Singed Scalpel,[103],4.87,6,29.22
Retribution Axe,[34],4.14,7,28.98
"Splitter, Foe Of Subtlety",[107],3.61,7,25.27
Victor Iron Spikes,[66],3.55,7,24.85