In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
pyMoli_datafile = "purchase_data.json"

In [3]:
pyMoli_datafile_pd = pd.read_json(pyMoli_datafile)
pyMoli_datafile_pd.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [4]:
Total_players = pyMoli_datafile_pd["SN"].nunique()
print("Total Players: "+str(pyMoli_datafile_pd["SN"].nunique()))

Total Players: 573

In [5]:
df_total_players = pd.DataFrame({"Players Count":[Total_players]})
df_total_players

   Players Count
0            573

In [6]:
unique_items_count = pyMoli_datafile_pd["Item ID"].nunique()
print("Number of unique items: "+str(pyMoli_datafile_pd["Item ID"].nunique()))

Number of unique items: 183

In [7]:
average_purhasePrice = round(pyMoli_datafile_pd["Price"].mean(), 2)
print("The average price of an item: $" + str(average_purhasePrice))

The average price of an item: $2.93

In [8]:
itemsPurchased_count = pyMoli_datafile_pd["Gender"].value_counts()
itemsPurchased_count

Male                     633
Female                   136
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [9]:
itemsPurchased_count_pd = pd.DataFrame(itemsPurchased_count)

In [10]:
totalItemsPurchased = itemsPurchased_count_pd["Gender"].sum()
print("The total items purchase are: " +str(totalItemsPurchased))

The total items purchase are: 780

In [11]:
totalRevenue = round(pyMoli_datafile_pd["Price"].sum(), 2)
print("The total revenue: $" + str(totalRevenue))

The total revenue: $2286.33

In [12]:
df_purchasingAnalysis = pd.DataFrame({"Number of unique items":[unique_items_count], "Average PurchasingPrice":[average_purhasePrice], "The total items purchased":[totalItemsPurchased], "The total Revennue":[totalRevenue]})
df_purchasingAnalysis

,Average PurchasingPrice,Number of unique items,The total Revennue,The total items purchased
0,2.93,183,2286.33,780

In [13]:
malePlayer_df = pyMoli_datafile_pd.loc[pyMoli_datafile_pd["Gender"]=="Male"]

In [14]:
totalMale_players = malePlayer_df["SN"].nunique()
totalMale_players

465

In [15]:
femalePlayer_df = pyMoli_datafile_pd.loc[pyMoli_datafile_pd["Gender"]=="Female"]

In [16]:
totalFemale_players = femalePlayer_df["SN"].nunique()
totalFemale_players

100

In [17]:
nonDisclPlayer_df = pyMoli_datafile_pd.loc[pyMoli_datafile_pd["Gender"]=="Other / Non-Disclosed"]

In [18]:
totalNonDiscl_players =nonDisclPlayer_df["SN"].nunique()
totalNonDiscl_players

8

In [19]:
perctMale_players = round((totalMale_players/Total_players)*100, 2)
perctMale_players

81.15

In [20]:
perctFemale_players = round((totalFemale_players/Total_players)*100, 2)
perctFemale_players

17.45

In [21]:
perctNonDiscl_players = round((totalNonDiscl_players/Total_players)*100, 2)
perctNonDiscl_players

1.4

In [22]:
df_Gender_Demographics = pd.DataFrame({"Percentage" :[perctMale_players, perctFemale_players, perctNonDiscl_players], "Count of Players":[totalMale_players, totalFemale_players, totalNonDiscl_players] })
df_Gender_Demographics

   Count of Players  Percentage
0               465       81.15
1               100       17.45
2                 8        1.40

In [26]:
total_malePurchPrice = malePlayer_df["Price"].sum()

In [27]:
avg_malepurchPrice = round(total_malePurchPrice/totalMale_players, 2)

In [28]:
total_femalePurchPrice = round(femalePlayer_df["Price"].sum(), 2)

In [29]:
avg_femalepurchPrice = round(total_femalePurchPrice/totalFemale_players, 2)

In [30]:
total_nonDisclpurchPrice = round(nonDisclPlayer_df["Price"].sum(), 2)

In [31]:
avg_nonDisclpurchPrice = round(total_nonDisclpurchPrice/totalNonDiscl_players, 2)

In [32]:
male_price_max = malePlayer_df["Price"].max()

In [33]:
male_price_min = malePlayer_df["Price"].min()

In [34]:
female_price_max = femalePlayer_df["Price"].max()

In [35]:
female_price_min = femalePlayer_df["Price"].min()

In [36]:
nonDiscl_price_max = nonDisclPlayer_df["Price"].max()

In [37]:
nonDiscl_price_min = nonDisclPlayer_df["Price"].min()

In [38]:
normalized_scale_min = pyMoli_datafile_pd["Price"].apply(np.floor).min()

In [39]:
normalized_scale_max  = pyMoli_datafile_pd["Price"].apply(np.ceil).max()

In [40]:
norm_total_male = round((normalized_scale_min)+(((avg_malepurchPrice-male_price_min)*(normalized_scale_max-normalized_scale_min))/(male_price_max-male_price_min)), 2)

In [41]:
norm_total_female = round((normalized_scale_min)+(((avg_femalepurchPrice-female_price_min)*(normalized_scale_max-normalized_scale_min))/(female_price_max-female_price_min)), 2)

In [42]:
norm_total_nonDiscl = round((normalized_scale_min)+(((avg_nonDisclpurchPrice-nonDiscl_price_min)*(normalized_scale_max-normalized_scale_min))/(nonDiscl_price_max-nonDiscl_price_min)), 2)

In [43]:
 df_PurchasingAnalysis = pd.DataFrame({"Purchase Count": [totalMale_players, totalFemale_players, totalNonDiscl_players], "Average Purchase Price":[avg_malepurchPrice, avg_femalepurchPrice, avg_nonDisclpurchPrice], "Total Purchase Price": [total_malePurchPrice, total_femalePurchPrice,total_nonDisclpurchPrice], "Normalized Totals":[norm_total_male ,norm_total_female,norm_total_nonDiscl]})
df_PurchasingAnalysis

,Average Purchase Price,Normalized Totals,Purchase Count,Total Purchase Price
0,4.02,4.05,465,1867.68
1,3.83,3.86,100,382.91
2,4.47,5.25,8,35.74

In [44]:
bins =[0,10,15,20,25,30, 35, 40, 45]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39",">40"]

In [45]:
 pyMoli_datafile_pd["Age_Summary"] = pd.cut(pyMoli_datafile_pd["Age"], bins, labels = group_names)
pyMoli_datafile_pd.head()

,Age,Gender,Item ID,Item Name,Price,SN,Age_Summary
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34,35-39
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46,20-24
2,34,Male,174,Primitive Blade,2.46,Assastnya25,30-34
3,21,Male,92,Final Critic,1.36,Pheusrical25,20-24
4,23,Male,63,Stormfury Mace,1.27,Aela59,20-24

In [46]:
age_Summary_group = pyMoli_datafile_pd.groupby("Age_Summary")

In [47]:
tot = age_Summary_group['SN'].count()

In [48]:
percPlayers = round(tot/len(tot), 2)

In [49]:
purchase_summary = pd.DataFrame({"ToTal Count":tot, "Percentage of Players": percPlayers})
purchase_summary

             Percentage of Players  ToTal Count
Age_Summary
<10                           4.00           32
10-14                         9.75           78
15-19                        23.00          184
20-24                        38.12          305
25-29                         9.50           76
30-34                         7.25           58
35-39                         5.50           44
>40                           0.38            3

In [50]:
avgPurChasePrice=round(age_Summary_group["Price"].mean(), 2)

In [51]:
totalPurchasePrice = round(age_Summary_group["Price"].sum(), 2)

In [52]:
purchaseCounts = age_Summary_group["Item ID"].count()

In [53]:
normTotalsAge = round((age_Summary_group["Price"].min()) +((avgPurChasePrice-age_Summary_group["Price"].min())/(age_Summary_group["Price"].max()-age_Summary_group["Price"].min())))

In [54]:
purchaseAnalysis_Summary = pd.DataFrame({"Purchase Count":purchaseCounts, "Average Purchase Price": avgPurChasePrice, "Total Purchase Price": totalPurchasePrice, "Normalized Totals": normTotalsAge})
purchaseAnalysis_Summary

,Average Purchase Price,Normalized Totals,Purchase Count,Total Purchase Price
Age_Summary,,,,
<10,3.02,2.0,32,96.62
10-14,2.87,2.0,78,224.15
15-19,2.87,1.0,184,528.74
20-24,2.96,2.0,305,902.61
25-29,2.89,2.0,76,219.82
30-34,3.07,2.0,58,178.26
35-39,2.90,2.0,44,127.49
>40,2.88,3.0,3,8.64

In [55]:
topSpenderGroup = pyMoli_datafile_pd.groupby("SN")

In [56]:
ts_count = topSpenderGroup["Item ID"].count()

In [57]:
ts_average_purchasePrice = round(topSpenderGroup["Price"].mean(), 2)

In [58]:
ts_tot_purchase_value = round(topSpenderGroup["Price"].sum(), 2)

In [94]:
top_spender_summary = pd.DataFrame( {"Purchase Count":ts_count,
                                    "Average Purchase Price":ts_average_purchasePrice,
                                    "Total Purchase Value": ts_tot_purchase_value} )

In [97]:
sorrted_topspender = top_spender_summary.sort_values(by="Total Purchase Value", ascending = False)

In [96]:
top_fiveSpender_df = top_spender_summary_df.iloc[0:5:,[0,1,2,]]
top_fiveSpender_df.head()

             Average Purchase Price  Purchase Count  Total Purchase Value
SN
Undirrala66                    3.41               5                 17.06
Saedue76                       3.39               4                 13.56
Mindimnya67                    3.18               4                 12.74
Haellysu29                     4.24               3                 12.73
Eoda93                         3.86               3                 11.58